* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Rubik Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik Regular"),
    url("./fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), url("./fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik bold";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), url("./fonts/Rubik-Bold.ttf") format("truetype");
}

body {
  background-color: #ffffff;
  color: #4f5665;
}

.rubik-bold {
  font-family: "Rubik bold";
  font-style: normal;
  font-weight: 700;
}

.rubik-medium {
  font-family: "Rubik Medium";
  font-style: normal;
  font-weight: 500;
  width: auto;
}

.rubik-regular {
  font-family: "Rubik Regular";
  font-style: normal;
  font-weight: 400;
}

.header-container {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  min-height: 40px;
  max-width: 1280px;
  line-height: 35px;
  white-space: nowrap;
  transition: 0.5s;
}

.logo-wrap {
  height: 37px;
  background-repeat: no-repeat;
  width: 149px;
  background-image: url(./img/Logo.png);
}

.menu {
  font-family: "Rubik Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  display: flex;
}

.menu-item {
  padding-right: 40px;
  transition: all 0.2s ease-in-out;
}

.menu-link {
  text-decoration: none;
  color: #4f5665;
}

.menu-item:hover {
  padding-right: 40px;
  color: #f53855;
  transition: 0.2s;
}

.menu-item:last-of-type {
  padding-right: 0;
}

.sign {
  font-family: "Rubik Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.sign-in {
  margin-right: 30px;
}

.sign-up {
  color: #f53855;
  border-radius: 50px;
  border: 2px solid #f53855;
  padding: 0px 40px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.sign-up:hover,
.sign-up:focus,
.sign-up:active {
  color: #ffffff;
  background-color: #f53855;
  transition: 0.2s;
}

.greeting {
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.greeting__info {
  max-width: 532px;
  display: flex;
  flex-direction: column;
}

.greeting__header {
  font-family: "Rubik Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #0b132a;
  line-height: 70px;
  margin-bottom: 20px;
}

.greeting__text {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 50px;
}

.greeting__start-link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  background-color: #f53838;
  box-shadow: 0px 28px 18px -12px rgba(245, 56, 56, 0.56);
}

.greeting__start-link:active {
  transform: translateY(1px);
}

.greeting__pic {
  justify-self: end;
  min-height: 383px;
  width: 612px;
  background-repeat: no-repeat;
  background-image: url(./img/illustration1.png);
}

.amount {
  margin: 0 auto;
  max-width: 1280px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 17px 19px 8px rgba(129, 94, 94, 0.1);
}

.amount-list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.amount-item {
  display: flex;
  max-width: 185px;
  justify-content: space-between;
}

.amount-item__info {
  font-size: 25px;
  color: #0b132a;
}

.amount-item__text {
  font-size: 20px;
  color: #4f5665;
}

.amount-item__icon {
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  margin-right: 36px;
}

.icon-users {
  background-image: url(./img/icon/user.png);
}

.icon-locations {
  background-image: url(./img/icon/location.png);
}

.icon-servers {
  background-image: url(./img/icon/server.png);
}

.features {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 132px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.features__pic {
  width: 508px;
  height: 415px;
  background-repeat: no-repeat;
  background-image: url(./img/illustration2.png);
}

.features__info {
  margin-top: 60px;
  max-width: 428px;
  display: flex;
  flex-direction: column;
}

.features__header {
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}

.features__text {
  font-size: 16px;
  line-height: 35px;
  color: #4f5665;
  margin-bottom: 15px;
}

.features-list {
  font-size: 14px;
  line-height: 40px;
  color: #4f5665;
  list-style: none;
  margin-left: 30px;
}

.features-item {
  position: relative;
}

.features-item::before {
  content: url(./img/Icon/list-marker.png);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: -30px;
}

.gradient {
  padding: 0 150px;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

.plan {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 80px;
  margin-bottom: 150px;
}

.plan__header {
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.plan__text {
  margin: 0 auto;
  max-width: 555px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  text-align: center;
  margin-bottom: 60px;
}

.rate {
  display: flex;
  justify-content: space-between;
}

.rate__item {
  width: 330px;
  height: 760px;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}

.rate__item:hover,
.rate__item:focus,
.rate__item:active {
  transition: 0.2s;
  border: 2px solid #f53838;
}

.rate__name {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 40px;
}

.rate__pic {
  background-repeat: no-repeat;
  height: 167px;
  width: 145px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.features-item::before {
  content: url(./img/Icon/list-marker.png);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: -30px;
}

.rate-free {
  background-image: url(./img/free.png);
}

.rate-standard {
  background-image: url(./img/standard.png);
}

.rate-premium {
  background-image: url(./img/premium.png);
}

.pros-list {
  font-size: 14px;
  line-height: 40px;
  color: #4f5665;
  list-style: none;
  max-width: 190px;
  padding-left: 40px;
}

.pros-item {
  position: relative;
}

.pros-item::before {
  content: url(./img/Icon/plan-list-marker.png);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: -30px;
}

.rate__price {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: auto;
  margin-bottom: 20px;
}

.price-words {
  color: #4f5665;
}

.rate__select {
  color: #f53855;
  background-color: #ffffff;
  border: 2px solid #f53855;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
  transition: 0.2s;
  cursor: pointer;
}

.rate__select:hover,
.rate__select:focus {
  color: #ffffff;
  background-color: #f53855;
  box-shadow: 0px 28px 18px -12px rgba(245, 56, 56, 0.56);
  transition: 0.2s;
}

.world {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.world__header {
  max-width: 383px;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 25px;
}

.world__text {
  max-width: 555px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

.map {
  width: 1060px;
  height: 539px;
  position: relative;
  background-image: url(./img/map.png);
  background-size: contain;
}

.map-point {
  background-image: url(./img/Icon/map-point.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  transition: 1s;
}

.russia {
  top: 25%;
  left: 62%;
}

.korea {
  top: 37%;
  left: 82%;
}

.japan {
  top: 38%;
  left: 85%;
}

.china {
  top: 32%;
  left: 79%;
}

.usa {
  top: 38%;
  left: 24%;
}

.england {
  top: 26%;
  left: 46%;
}

.australia {
  top: 82%;
  left: 87%;
}

.brazil {
  top: 74%;
  left: 34%;
}

.canada {
  top: 29%;
  left: 13%;
}

.kazahstan {
  top: 33%;
  left: 67%;
}

.france {
  top: 31%;
  left: 47%;
}

.germany {
  top: 28%;
  left: 49%;
}

.uar {
  top: 79%;
  left: 53%;
}

.mexico {
  top: 45%;
  left: 18%;
}

.turkey {
  top: 36%;
  left: 56%;
}

.sweden {
  top: 20%;
  left: 50%;
}

.india {
  top: 53%;
  left: 68%;
}

.companies {
  margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 150px;
}

.companies-list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.companies-item {
  background-repeat: no-repeat;
  height: 113px;
  width: 201px;
  margin-right: 20px;
  background-size: contain;
  filter: grayscale(100%);
  opacity: 0.5;
}

.companies-item:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.netflix {
  background-image: url(./img/companies/netflix.png);
}

.github {
  background-image: url(./img/companies/github.png);
}

.amazon {
  background-image: url(./img/companies/amazon.png);
}

.discord {
  background-image: url(./img/companies/discord.png);
}

.spotify {
  background-image: url(./img/companies/spotify.png);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.reviews__header {
  font-size: 35px;
  line-height: 50px;
  max-width: 448px;
  color: #0b132a;
  text-align: center;
  margin-bottom: 20px;
}

.reviews__info {
  max-width: 555px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-bottom: 60px;
}

.profile {
  border: 2px solid #dddddd;
  border-radius: 10px;
  width: 400px;
  height: 230px;
}
.profile__info {
  display: flex;
  padding: 30px 30px 10px 30px;
}

.profile__pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-image: url(./img/profiles/viezh.png);
}

.profile__name {
  font-size: 18px;
  color: #0b132a;
}

.profile__location {
  font-size: 14px;
  color: #4f5665;
}

.profile__rating {
  padding-top: 7px;
  font-size: 16px;
  color: #0b132a;
  margin-left: auto;
  position: relative;
  padding-right: 15px;
}

.profile__rating::after {
  content: url(./img/Icon/star-rating.png);
  width: 16px;
  height: 16px;
  position: absolute;
}

.review {
  padding: 0 30px;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.carousel {
  align-self: flex-end;
  width: 100vw;
  height: 350px;
  overflow: hidden;
}

.carousel-list {
  transition: 1.5s;
  display: flex;
  list-style: none;
  width: 1200px;
}
.carousel-item:first-of-type {
  margin-left: 25vw;
}

.carousel-item {
  margin-right: 50px;
  flex-shrink: 0;
}

.carousel-item:last-of-type {
  margin-right: 0;
}

.carousel-btns {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  max-width: 1280px;
  height: 60px;
  margin-bottom: 65px;
}

.prev {
  margin-right: 20px;
}

.next {
  transform: rotate(180deg);
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #f53838;
}
button svg:disabled {
  fill: #ffffff;
}

.prev,
.next {
  cursor: pointer;
  line-height: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 2px solid #f53838;
}

.subscribe-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(248, 248, 248, 1) 42%
  );
  padding-bottom: 65px;
}

.subscribe {
  height: 233px;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 0 70px;
}
.subscribe__header {
  max-width: 370px;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
}

.subscribe__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.subcribe-btn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 250px;
  height: 60px;
  background: #f53838;
  box-shadow: 0px 28px 18px -12px rgba(245, 56, 56, 0.56);
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}
.subcribe-btn:active {
  transform: translateY(1px);
}

.footer-container {
  background: #f8f8f8;
}

.footer {
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.footer-soc {
  width: 340px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer-descr {
  margin-bottom: 30px;
}

.footer-soc__btn {
  margin-right: 20px;
  text-decoration: none;
}

.footer-soc__btn:last-of-type {
  margin-right: 0;
}

.footer-soc__btns {
  margin-bottom: 30px;
}

.logo-trademark {
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer__links {
  display: flex;
}

.link-list {
  width: 125px;
  list-style: none;
  margin-right: 100px;
}

.link-list:last-of-type {
  margin-right: 0;
}

.link-item__header {
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.footer-link {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  text-decoration: none;
}
